body{
  background-color: #F1EAEA;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
}
#design-div{
  position: relative; 
  margin-bottom: 2%;

}
.design{
  position: absolute;
  opacity: 0.5;
  z-index: -1;
  
}
.design-1{
  top: -15%;
}

.design:hover{
  
  opacity: 1;
  z-index: 1;
}
nav{
  background-color: #f0e8e8;
  padding: 2% 5% 2% 5%;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  opacity:0.8;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
nav a {text-align: center;}
nav:hover{
  background-color: #dcd2d2;
}
#likes-grid a,
footer a,
nav a {
  text-decoration: none;
  color:  #5d6151;
  
}

.name{
  font-family:  "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  text-align: center;
  color: #8B6B30;
  margin: 10% 0 2% 0; 

}

.tagLine{
  font-family:  "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #210169;
}
.tagLine-contact{
  font-family:  "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #210169;
  margin: 10% 0 2% 0;

}
.container-1{
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
} 
#profile-img{
  flex: 1;
  text-align: right;
  padding: 2% 5% 0 0;
  
}
#message-main {
  flex: 1;
}
#profile-img > img{
  width: 50%;
  border-radius: 20%;
  
}
#likes-grid > div:hover,
.name:hover,
 #message-main > p:hover,
#profile-img > img:hover{
  animation: up 0.2s ease-in-out forwards;
 
}
#message-main > h3{
  text-align: left;
  padding: 0 20% 0 0;
  margin-bottom: 2%;
  font-size:3.5rem;
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  animation: bounce 1.5s infinite;
  color: #9a7f4d;
  
}

#message-main > p{
  text-align: left;
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
  padding: 0 20% 0 0;
  font-size: 1.7rem;
  color: #7c6e55;

}
#bg-img{
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: stretch; 
  box-sizing: border-box; 
}
#bg-img :hover{
  animation: up 0.2s ease-in-out forwards;
}
#bg-img > div {
  flex: 1;
  background-color:#e7dede;
  border-radius: 5%;
  margin: 0 2% 0 2%;
  padding-top: 2%;
  color: #9a7f4d;
  opacity: 0.9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: stretch; 
  box-sizing: border-box; 
 
}

#bg-img h4{
  margin: 3% 3% auto 3%;
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
  font-size: 1.5rem;
 
 
}
#bg-img  img{
  width: 70%;
  height: 40%;
  border-radius: 5%;
  object-fit: cover;
  
}
#mood-board{
  position: relative;
  text-align: center;
  background-color: #24261C;
  height: 90vh;
  
}

#mood-board h3{
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 3rem;
  color: #e6dede;
  padding-top: 2%;
  
}
#img-gallery{
  display: grid;
  grid-template-columns: 25% 5% 5% 25% 5% 15% 10% 10%;
  grid-template-rows: 5% 20% 5% 10% 15% 5% 30% 5% 5%;
  background-color:#24261C;
  height: 80vh;
}
#img-gallery > div:hover{
  animation: up 0.2s ease-in-out forwards;
}
.grid {border-radius: 2%;}
.grid-1{grid-row: 1 / 4;grid-column: 1 / 3;}
.grid-2{grid-row: 1 / 4;grid-column: 3 / 5;
        background: url("images/IMG_0452.JPG" ) no-repeat;
        background-position: center;
        background-size: 100%;}
.grid-3{grid-row: 1 / 7;grid-column: 5 / 7;}
.grid-4{grid-row: 1 / 2;grid-column: 7 / 9;}
.grid-5{grid-row: 4 / 9;grid-column: 1 / 2;
        background: url("images/19E635E5-3277-4F22-B02E-C61DD8C3A377.JPG" ) no-repeat;
        background-position: top;
        background-size: 100%;}
.grid-6{grid-row: 4 / 10;grid-column: 2 / 3;}
.grid-7{grid-row: 3 / 10;grid-column: 3 / 4;}
.grid-8{grid-row: 3 / 5;grid-column: 4 / 5;}
.grid-9{grid-row: 5 / 8;grid-column: 4 / 5; 
        border-top-left-radius: 30%;border-top-right-radius: 30%;
        background: url("images/IMG_0655.PNG" ) no-repeat;
        background-position: bottom;
        background-size: 100%;} 
.grid-10{grid-row: 2 / 6;grid-column: 7 / 9;
        background: url("images/IMG_8421\ 2.JPG" ) no-repeat;
        background-position: center;
        background-size: 100%;}
.grid-11{grid-row: 6 / 7;grid-column: 7 / 9;}
.grid-12{grid-row: 7/ 10;grid-column: 5 / 6}
.grid-13{grid-row: 7/ 10;grid-column: 6 / 8;
      background: url("images/IMG_7069\ 2.JPG" ) no-repeat;
      background-position: 70%;
      background-size: 90%;}
.grid-14{grid-row: 7/ 10;grid-column: 8 / 9}
.grid-15{grid-row: 9/ 10;grid-column: 1 / 2}
.grid-16{grid-row: 8/ 10;grid-column: 4 / 5}

footer{
  padding: 1% 2% 1% 2%;
  background-color:#AC9484;
  height: 100%;
  color: white;
  text-align: center;
  position: relative;
  
}
footer h3{
  font-family:  "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #210169;
  
}
#footer-flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  
}
#footer-flex p{
  color: rgb(228, 225, 225);
  font-family:  "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.footer-left > h2{
  font-family:  "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  
}
#footer-flex > div{
  flex: 1;
}
#likes-grid{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50% ;
  gap: 2%;
  align-items: center;
  justify-content: center;
  align-items: stretch; 
  box-sizing: border-box; 
  
}
#likes-grid > div{
  background-color: #A59986;
  padding: 4%;
  text-align: center;
  box-sizing: border-box; 
  color: #FFFF;
  font-size: 1.3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#likes-grid h3{
  font-size: 1.8rem;
  color:#8B6B30 ;
}
.likes-name{
  margin-bottom: 1%;
}
.likes-tagLine{
  padding-bottom: 3%;
  color: #210169;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}
a:hover,
.list:hover {
  color:white;
  transition: color 0.3s ease;
}
#podcast-div > ul{
  list-style: url("images//cassette.svg");

}
#songs-div > ul{
  list-style: url('images/music-note.svg');
}
.qoute-div{
  background-color:#e4d6d6 ;
  margin: 2%;
  color: #747268;
  margin-top: 4%;
  padding: 1%;

}
.qoute-div  h2{
  font-family:  "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.3em;
}
li{
  padding-top: 1%;
}



@keyframes bounce{
  20%,50%,80%,to{transform: translateY(0);}
  40%{transform: translateY(-30%);}
  70%{transform: translateY(-15%);}
  90%{transform: translateY(-5%);}

}
@keyframes up{
  to{transform: translateY(-10%);}
}

@media only screen and (max-width: 800px){
  .name{
    font-family:  "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    text-align: center;
    color: #8B6B30;
    margin: 10% 0 2% 0; 
  }
  .tagLine{
    font-family:  "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #210169;
    font-size: 1em;
  }
  .container-1{
    display: block;
    margin-top: 3%;
  } 
  #profile-img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
    
  }
  #profile-img > img{
    width: 50%;
    border-radius: 20%;
    padding: 0 0 0 0 ;
    
  }
  #message-main {
    width: 100%;

  }
  #message-main > h3{
    text-align: center;
    margin-bottom: 2%;
    font-size:3rem;
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    animation: bounce 1.5s infinite;
    color: #9a7f4d;
    padding: 0;
    
  }
  
  #message-main > p{
    text-align: center;
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
    font-size: 1.4rem;
    color: #7c6e55;
    padding: 2%;
  
  }
  #bg-img{
    display: block;
    text-align: center;
    align-items: stretch; 
    box-sizing: border-box; 
  }
  #bg-img h4{
    margin: 3% 3% auto 3%;
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
    font-size: 1rem;
   
   
  }
  #bg-img > div {
    background-color:#e7dede;
    border-radius: 5%;
    margin: 0 2% 0 2%;
    padding-top: 2%;
    margin-bottom: 2%;
    color: #9a7f4d;
    opacity: 0.9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

   
  }
  #bg-img  img{
    height: 30%;
    width: 50%;
    border-radius: 5%;
    object-fit: cover;
    
  }
  .grid {border-radius: 2%;}
  .grid-1{grid-row: 1 / 4;grid-column: 1 / 3;}
  .grid-2{grid-row: 1 / 4;grid-column: 4 / 9;
          background: url("images/IMG_0452.JPG" ) no-repeat;
          background-position: center;
          background-size: 110%;}
  .grid-3{grid-row: 1 / 7;grid-column: 5 / 7;}
  .grid-4{grid-row: 1 / 2;grid-column: 7 / 9;}
  .grid-5{grid-row: 1 / 5;grid-column: 1 / 4;
          background: url("images/19E635E5-3277-4F22-B02E-C61DD8C3A377.JPG" ) no-repeat;
          background-position: top;
          background-size: 110%;}
  .grid-6{grid-row: 4 / 10;grid-column: 2 / 3;}
  .grid-7{grid-row: 3 / 10;grid-column: 3 / 4;}
  .grid-8{grid-row: 3 / 5;grid-column: 4 / 5;}
  .grid-9{grid-row: 4 / 9;grid-column: 4 / 6; 
          border-top-left-radius: 0;border-top-right-radius: 0;
          background: url("images/IMG_0655.PNG" ) no-repeat;
          background-position: bottom;
          background-size: 110%;} 
  .grid-10{grid-row: 5 / 9;grid-column: 1 / 4;
          background: url("images/IMG_8421\ 2.JPG" ) no-repeat;
          background-position: center;
          background-size: 110%;}
  .grid-11{grid-row: 6 / 7;grid-column: 7 / 9;}
  .grid-12{grid-row: 7/ 10;grid-column: 5 / 6}
  .grid-13{grid-row: 4/ 9;grid-column: 6 / 10 ;
        background: url("images/IMG_7069\ 2.JPG" ) no-repeat;
        background-position: 70%;
        background-size: 110%;}
  .grid-14{grid-row: 7/ 10;grid-column: 8 / 9}
  .grid-15{grid-row: 9/ 10;grid-column: 1 / 2}
  .grid-16{grid-row: 8/ 10;grid-column: 4 / 5}

  .footer-left > h2{
    font-family:  "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    
  }
  
  .qoute-div  h2{
    font-family:  "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 0.9em;
  }

  #likes-grid{
    display: block;
    align-items: stretch; 
    box-sizing: border-box; 
    margin-top: 3%;
    
  }
  #likes-grid > div{
    background-color: #A59986;
    padding: 4%;
    text-align: left;
    box-sizing: border-box; 
    color: #FFFF;
    font-size: 0.9rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
  }
  #likes-grid h3{
    font-size: 1.5rem;
    color:#8B6B30 ;
  }
  .likes-tagLine{
    padding-bottom: 3%;
    color:#210169;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }
  


}
@media only screen and (max-width:1000px) and (min-width: 800px){
  .name{
    font-family:  "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
    color: #8B6B30;
    margin: 10% 0 2% 0; 
  }
  .tagLine{
    font-family:  "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #210169;
    font-size: 1em;
  }
  .container-1{
    display: block;
    margin-top: 3%;
  } 
  #profile-img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0;
    
  }
  #profile-img > img{
    width: 50%;
    border-radius: 20%;
    padding: 0 0 0 0 ;
    
  }
  #message-main {
    width: 100%;

  }
  #message-main > h3{
    text-align: center;
    margin-bottom: 2%;
    font-size:3rem;
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    animation: bounce 1.5s infinite;
    color: #9a7f4d;
    padding: 0;
    
  }
  
  #message-main > p{
    text-align: center;
    font-family: "Hedvig Letters Serif", serif;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
    font-size: 1.4rem;
    color: #7c6e55;
    padding: 2%;
  
  }
  .footer-left > h2{
    font-family:  "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    
  }
  .qoute-div  h2{
    font-family:  "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1em;
  }
  #likes-grid{
    display: block;
    align-items: stretch; 
    box-sizing: border-box; 
    margin-top: 3%;
    
  }
  #likes-grid > div{
    background-color: #A59986;
    padding: 4%;
    text-align: left;
    box-sizing: border-box; 
    color: #FFFF;
    font-size: 1.1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
  }
  #likes-grid h3{
    font-size: 1.5rem;
    color:#8B6B30 ;
  }
  

}

